@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Layout.cshtml";
}

<div class="b-body">

    <h1>Контактная информация</h1>

    <div class="map">
        <iframe width="600" height="450" frameborder="0" style="border: 0"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4011.5468728660794!2d30.372971086199946!3d59.81968364018465!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696250577607d89%3A0x7e4d9b68b49a8192!2z0JwtNDYsINCx0LjQt9C90LXRgS3RhtC10L3RgtGA!5e0!3m2!1sru!2sru!4v1424093278507" />

    </div>

    <div class="contacts">
        <h2>
            <img alt="Avtoliga" src="/img/contacts_logo.jpg">
        </h2>
        <hr>
        <address>
            <p>
                <span class="title">Адрес:</span>
                Санкт-Петербург,
                <br>
                Московское шоссе, д.46, офис 110а 
            </p>
            <p>
                <span class="title">Режим:</span>
                Пн-Пт, с 10:00 до 19:00
                <br>
                Сб-Вс, с 11:00 до 18:00
            </p>
            <p>
                <span class="title">Телефон:</span>
                (812) 923-59-49,
                <br>
                (812) 4567-023
            </p>
            <p>
                <span class="title">Эл. почта:</span>
                <a href="mailto:mail@avtoliga.spb.ru">mail@avtoliga.spb.ru</a>
            </p>
            <p>
                <span class="title">Skype:</span>
                avtoliga
            </p>
            <p>
                <span class="title">Вконтакте:</span>
                vk.com/avtoliga
            </p>
            <p>
                <a href="/feedback/">Обратная связь</a>
            </p>
        </address>

    </div>
    
</div>
