<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="APV.TransControl.FuelViewer.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="TransControl.FuelViewer.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <userSettings>
        <APV.TransControl.FuelViewer.UserSettings>
            <setting name="Username" serializeAs="String">
                <value>synch_wl</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="From" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value>2015-03-16</value>
            </setting>
            <setting name="AvtoNo" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsumptionSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value>192.168.58.24</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>TRAN</value>
            </setting>
            <setting name="UseTnsDBName" serializeAs="String">
                <value>False</value>
            </setting>
        </APV.TransControl.FuelViewer.UserSettings>
        <TransControl.FuelViewer.UserSettings>
            <setting name="DataSource" serializeAs="String">
                <value>(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.58.24)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=TRAN)))</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>synch_wl</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="From" serializeAs="String">
                <value>2015-06-01</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value>2015-07-01</value>
            </setting>
            <setting name="AvtoNo" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConsumptionSettings" serializeAs="String">
                <value/>
            </setting>
        </TransControl.FuelViewer.UserSettings>
    </userSettings>
</configuration>
